h4 {
  margin-top: 25px;
}

[class*="col-"] {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 0px solid #ddd;
  border: 0px solid rgba(86,61,124,.2);
}

[class*="btn"] {
  margin: 7px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn.outline {
	background: none;
	border-radius: 16px;
}

.btn-info.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

