h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

body { background-color: #000000 !important; }

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

[class*="btn"] {
  margin: 5px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.borderless table, .borderless td, .borderless th {
    border: none !important;
	background-color: #000000 !important; 
}

